body {
color: rgb(12,12,12);
font-family: Lucida;
margin: auto;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}
  p {
    font-size: 30px;
    margin-top: 5px;
  }
  .iframer{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe iframe{
  position: center;
  top:0;
  left: 0;
  margin-left: 60px;
  margin-right: auto;
  width: 60%;
  height: 50%;
}
  img.flaga{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  div.p1{
    font-size: 22px;
  }
  table.table1 {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
  }
  table.table1, td {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    padding: 5px;
  }
  table.table2 {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
  }
  table, td.p {
    border: 1px solid white;
    text-align: left;
    font-size: 20px;
    padding: 5px;
  }
  table.table2 tr:nth-child(odd)
  {
    background: rgb(225, 240, 244);
  }
  ul{
    list-style-type: square;
  }
